<div class="big_wrapper">
  <div class="wrapper" id="one">
    <div class="point_copy">
      <h3>
        Ready to do this!
      </h3>
      <p>
        Spiel here.
      <p>
    </div>
  </div>
</div>
